---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
import { baseURL } from "../config";

---
<head>
	<SEO
		title="Política de Privacidade | Janus Educare"
		description="Nosso foco é simplificar a burocracia e potencializar seus resultados, levando seu programa a conquistar reconhecimento nacional e internacional."
		charset="utf-8"
		openGraph={{
			basic: {
				title: "Política de Privacidade | Janus Educare",
				type: "",
				image: `${baseURL}/assets/img/janus-logo-horizontal.webp`,
			}
		}}

	/>
	
</head>

<Layout conteudoLegal={true}>

  <section class="content-line relative textos-legais">
    <div class="content-line-container py-10">
      <div class="mx-auto max-w-6xl">
        <h2 class="page-title">Política de Privacidade</h2>
      <section>
        <h2>Boas vindas!</h2>
        <p>Quando você utiliza os serviços da Janus Educare, você confia seus dados e informações a nós. Portanto, nos comprometemos a manter essa confiança. Nesse sentido, a presente Política de Privacidade explica de maneira clara e acessível como as suas informações e dados serão coletados, usados, compartilhados e armazenados por meio dos nossos sistemas.</p>
        <p>Assim, para o desenvolvimento das suas atividades, a Janus Educare faz uso dos dados pessoais:</p>
        <ul>
          <li>Daqueles que visitam nossas plataformas online <a href="http://www.januseducare.com.br">www.januseducare.com.br</a>, <a href="http://www.plataformaathena.com.br">www.plataformaathena.com.br</a> e <a href="http://www.sistemaathena.com.br">www.sistemaathena.com.br</a> (intitulados como “Visitantes”);</li>
          <li>Daqueles que se cadastram em nossas plataformas online e utilizam serviços disponíveis apenas para usuários que se cadastrarem (intitulados como “Usuários Cadastrados”);</li>
          <li>Das pessoas naturais cujos dados são acessíveis publicamente e são capturados pela Janus Educare, por meio da plataforma Athena, onde ficam disponibilizados de forma online (“Titulares de dados pessoais cujo acesso é público ou foram por estes tornados manifestamente públicos”);</li>
        </ul>
        <p>Desta forma, caso você se enquadre em alguma das categorias acima, esta política é aplicável aos seus dados pessoais por nós tratados.</p>
        <p>Para os Visitantes e os Usuários Cadastrados, o uso e o preenchimento de qualquer cadastro em nossos sites pressupõem aceitação desta Política de Privacidade. Caso não concorde com a presente Política de Privacidade, solicitamos que não faça uso dos nossos sites e não nos envie quaisquer dados pessoais.</p>
        <p>Esta Política é um documento complementar aos documentos contratuais da Janus Educare e aos Termos de Uso, devendo ser interpretada em conjunto com estes documentos.</p>
        <p>Portanto, considerando a Lei n. 13.709/2018 (“Lei Geral de Proteção de Dados” ou “LGPD”), a Lei n. 12.965/2014 (“Marco Civil da Internet”) e demais leis aplicáveis sobre o tema, dividimos esta Política da seguinte forma, para facilitar a sua compreensão:</p>
      </section>
  
      <section>
        <h2>O que você precisa saber para entender essa Política?</h2>
        <p>Este documento foi redigido de forma simples e acessível, contando com vários exemplos de coleta e de uso dos Dados Pessoais, justamente para que você possa ler e entender a forma como utilizamos os seus Dados Pessoais para oferecer uma experiência segura e confortável durante o uso dos Serviços.</p>
        <h3>Definição de Termos Chave</h3>
        <ul>
          <li><strong>Dados Pessoais:</strong> é qualquer informação relacionada a pessoa natural identificada ou identificável;</li>
          <li><strong>Você ou Titular dos Dados:</strong> é a pessoa natural a quem se refere os Dados Pessoais que são objeto de Tratamento;</li>
          <li><strong>Tratamento:</strong> é toda e qualquer operação realizada com os Dados Pessoais, incluindo, por exemplo, mas não se limitando, à coleta, armazenamento, alteração, consulta, compartilhamento, transmissão, acesso ou eliminação destes;</li>
          <li><strong>Bases legais:</strong> são as hipóteses legais que autorizam o Tratamento dos Dados Pessoais;</li>
          <li><strong>Controlador de Dados Pessoais:</strong> é a pessoa física ou jurídica a quem compete as decisões referentes ao tratamento de dados pessoais;</li>
          <li><strong>Operador de Dados Pessoais:</strong> é a pessoa física ou jurídica que realiza o tratamento de dados pessoais em nome do controlador.</li>
        </ul>
      </section>
  
      <section>
        <h2>Quais são os nossos serviços?</h2>
        <p>Os nossos serviços consistem em:</p>
        <ul>
          <li>Oferecimento de assessoria e consultoria para criação de novos mestrados e doutorados, reestruturação e progressão de programas;</li>
          <li>Oferecimento de cursos de capacitação com workshops sobre o Currículo Lattes e Plataforma Sucupira – Módulos Coleta e APCN;</li>
          <li>Serviço de consultoria para o Currículo Lattes, Orcid e Google Acadêmico com criação, atualização e manutenção destes currículos;</li>
          <li>Desenvolvimento e licenciamento do software denominado Sistema Athena que coleta informações de bases de dados externas (currículo Lattes, Orcid e Google Acadêmica) a partir destes, gera indicadores de produtividade docente e discentes bem como diversas ferramentas de apoio à elaboração dos relatório da CAPES.</li>
        </ul>
      </section>
  
      <section>
        <h2>Quais tipos de dados pessoais coletamos?</h2>
        <p>Os Dados Pessoais que você fornece são usados para que você possa usufruir dos Serviços, bem como para que eles possam ser aprimorados. Abaixo estão os tipos de dados pessoais coletados e suas finalidades:</p>
        <table>
          <thead>
            <tr>
              <th>Dados Pessoais</th>
              <th>Finalidades</th>
              <th>Base Legal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CPF, RG, nome completo, e-mail, número de telefone, senhas de currículos Lattes, Orcid, Google Acadêmico, etc.</td>
              <td>Verificar identidade, cadastro, análise de crédito, prevenção de fraudes, etc.</td>
              <td>Cumprimento de obrigação legal e/ou consentimento</td>
            </tr>
            <tr>
              <td>IP, hora e data de acesso, geolocalização</td>
              <td>Identificação e prevenção de fraudes, personalização dos serviços</td>
              <td>Consentimento e legítimo interesse</td>
            </tr>
            <tr>
              <td>Perfil e comportamento de compra</td>
              <td>Análise comportamental, crédito</td>
              <td>Cumprimento de obrigação legal e legítimo interesse</td>
            </tr>
          </tbody>
        </table>
      </section>
  
      <section>
        <h2>Como tratamos seus dados?</h2>
        <p>Explicamos como tratamos seus dados pessoais e como funcionam as funções de <strong>Controlador de Dados Pessoais</strong> e <strong>Operador de Dados Pessoais</strong> dentro da Janus Educare.</p>
        <p>Os dados são tratados para garantir a execução dos nossos serviços, respeitando as bases legais e com o compromisso de proteger seus dados de forma adequada.</p>
      </section>
  
      <section>
        <h2>Com quem seus dados são compartilhados?</h2>
        <p>Os dados podem ser compartilhados com:</p>
        <ul>
          <li><strong>Autoridades:</strong> Quando houver determinação legal ou ordem judicial;</li>
          <li><strong>Clientes:</strong> Para viabilizar os serviços de atualização de currículos Lattes e Plataforma Sucupira;</li>
          <li><strong>Terceiros:</strong> Para apoio na prestação dos nossos serviços, como provedores de aplicativos e serviços de auditoria.</li>
        </ul>
      </section>
  
      <section>
        <h2>É realizada transferência internacional de dados pessoais?</h2>
        <p>A transferência internacional de dados pode ocorrer quando utilizamos servidores localizados fora do Brasil, mas tomamos as providências necessárias para garantir a proteção dos dados pessoais.</p>
      </section>
  
      <section>
        <h2>Quais são seus direitos como titular de dados pessoais?</h2>
        <p>Você possui vários direitos relacionados aos seus dados pessoais, como:</p>
        <ul>
          <li>Direito de acesso;</li>
          <li>Direito de exclusão;</li>
          <li>Direito de correção;</li>
          <li>Direito à portabilidade, entre outros.</li>
        </ul>
      </section>
  
      <section>
        <h2>Como falar com a Janus Educare?</h2>
        <p>Se você tiver dúvidas ou questões sobre esta Política de Privacidade, entre em contato conosco:</p>
        <!-- <ul>
          <li>Email: <a class="hover:text-blue-800 duration-200" href="" target="_blank" rel="noopener noreferer" data-link-email></li>
          <li>Telefone: <a class="hover:text-blue-800 duration-200" href="" data-link-telefone></a></li>
        </ul> -->
      </section>
  
      <section>
        <h2>Mudanças na Política</h2>
        <p>Essa Política pode ser atualizada de tempos em tempos. Recomendamos que você a consulte periodicamente. Se houver alterações significativas, você será notificado e será solicitado a fornecer um novo consentimento, caso necessário.</p>
      </section>
  
      </div>
    </div>
  </section>

 
</Layout>