---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
import { baseURL } from "../config";

---
<head>
	<SEO
		title="Termos de Uso | Janus Educare"
		description="Nosso foco é simplificar a burocracia e potencializar seus resultados, levando seu programa a conquistar reconhecimento nacional e internacional."
		charset="utf-8"
		openGraph={{
			basic: {
				title: "Termos de Uso | Janus Educare",
				type: "",
				image: `${baseURL}/assets/img/janus-logo-horizontal.webp`,
			}
		}}

	/>
	
</head>

<Layout conteudoLegal={true}>

  <section class="content-line relative textos-legais">
    <div class="content-line-container py-10">
      <div class="mx-auto max-w-6xl">
        <h2 class="page-title">Temos de uso</h2>

        <section id="introducao">
          <h2>INTRODUÇÃO: FINALIDADE DESTES TERMOS DE USO</h2>
          <p>Estes termos e condições gerais de uso (“Termos de Uso”), juntamente com a Política de Privacidade (“Política de Privacidade”), descrevem os direitos e obrigações dos clientes (“Você” ou “Titular”) ao adquirirem e utilizarem os serviços aqui descritos (“Serviços”).</p>
  
          <p>Ao utilizar os serviços oferecidos, você automaticamente concorda com todas as regras destes termos de uso e demais condições aqui mencionadas, responsabilizando-se integralmente por todos e quaisquer atos praticados ao utilizar nossos serviços. caso você não concorde com qualquer dos termos e condições abaixo estabelecidos, você não deve utilizar os serviços.</p>
  
          <p>Os Serviços são oferecidos pela Janus Educare, sociedade limitada, com sede na Rua Q 15 Mr 1, LOTE 24, Setor Norte, Planaltina – Goiás, CEP: 73751-285, inscrita no CNPJ sob o nº 22.058.567/0001-51 (“Janus Educare”).</p>
  
          <p>Caso queira nos dar algum feedback sobre a Janus Educare, tenha dúvidas ou precise tratar de qualquer assunto relacionado a estes Termos de Uso, entre em contato conosco através do e-mail: <a href="mailto:contato@januseducare.com.br">contato@januseducare.com.br</a></p>
      </section>
  
      <section id="o-que-e-a-janus">
          <h3>1. O QUE É A JANUS EDUCARE</h3>
          <p>A Janus Educare é uma empresa genuinamente brasileira especializada em serviços voltados especificamente à Pós-Graduação Stricto Sensu. Conta com equipe de profissionais detentores de conhecimentos técnicos específicos sobre os processos de avaliação da CAPES e sabedores da importância de todas as etapas do funcionamento burocrático de uma Pós-Graduação Stricto Sensu. Por meio de palestras, cursos, reuniões, consultoria, assessoria, apoio e orientação técnica de funcionários, professores e alunos, a JANUS EDUCARE busca auxiliar os Programas a tirar melhor proveito de sua produção acadêmica e profissional, bem como a criar novos Cursos, em observância aos critérios instituídos pela CAPES e às especificidades do software por ela adotado.</p>
          <br>
  
          <h4>1.1 Produtos e Serviços</h4>
  
          <h5>a. Plataforma Athena</h5>
          <p>A Plataforma Athena é um aplicativo web desenvolvido para auxiliar Pró-Reitores, Coordenadores e Secretárias na gestão da produção científica e atividades desenvolvidas pelos docentes e discentes no âmbito dos Programas de Pós-Graduação Stricto Sensu. A Plataforma Athenna permite realizar predição de resultados segundo os critérios de avaliação CAPES, auxiliar na elaboração do Plataforma Sucupira, emissão de relatórios de produção científica, acompanhamento de egressos, formulários de autoavaliação e ainda indicadores e gráficos de produtividade.</p><br>
          
  
          <h5>b. Cursos de Capacitação</h5>
          <ul>
              <li>Workshops sobre o Currículo Lattes e as demandas da CAPES;</li>
              <li>Workshop sobre a Plataforma Sucupira – Módulo Coleta;</li>
              <li>Workshop sobre a Plataforma Sucupira – APCN.</li>
          </ul>
          
  
          <h5>c. Assessoria e Consultoria</h5>
          <ul>
              <li>Elaboração de novos projetos de mestrados e doutorados (APCN);</li>
              <li>Consultoria para elaboração dos relatórios anuais da CAPES (Plataforma Sucupira);</li>
              <li>Assessoria para reestruturação de mestrados e doutorados já existentes;</li>
              <li>Serviços de criação, manutenção e atualização do Currículo Lattes, ORCID e Google Acadêmico.</li>
          </ul>
  
          <h4>1.2 Suspensão</h4>
          <p>Nós nos reservamos o direito de suspender ou cancelar, a qualquer momento, o seu acesso aos serviços contratados, em caso de suspeita de fraude, obtenção de benefício ou vantagem de forma ilícita, ou pelo não cumprimento de quaisquer condições previstas nestes Termos de Uso, na Política de Privacidade ou na legislação aplicável. Nesses casos, não será devida qualquer indenização a você, e a Janus Educare poderá promover a competente ação de regresso, se necessário, bem como tomar quaisquer outras medidas necessárias para perseguir e resguardar seus interesses.</p><br>
  
          <h4>1.3 Prestação de Serviços de Terceiros</h4>
          <p>Os serviços entregues pela Janus Educare podem conter links para sites ou integrações com recursos de terceiros. Esses Serviços de Terceiros não integram o escopo dos Serviços da Janus Educare e não fazem parte dos serviços que fornecemos. Por isso, eles estão sujeitos a termos e condições diferentes, inclusive com relação às práticas de privacidade. A Janus Educare não é responsável pela disponibilidade ou pela precisão dos Serviços de Terceiros, tampouco pelo seu conteúdo, pelos produtos ou pelos serviços disponíveis nesses Serviços de Terceiros. Os links para esses Serviços de Terceiros não representam endosso ou concordância da Janus Educare a seu respeito.</p>
      </section>
  
      <section id="como-cadastrar">
          <h3>2. COMO ME CADASTRAR PARA ACESSAR OS SERVIÇOS</h3>
          <p>Para utilizar os serviços da Janus Educare, você deve cadastrar-se por meio das nossas plataformas. Para isso, você nos fornecerá informações pessoais, conforme descrito em nossa Política de Privacidade. Para saber mais sobre a privacidade de suas informações pessoais na Janus Educare, acesse nossa Política de Privacidade. O acesso aos serviços é direcionado apenas às pessoas naturais maiores de 18 (dezoito) anos, residentes e domiciliadas no Brasil, que possuam plena capacidade legal e, para pessoas jurídicas, quando devidamente inscritas junto aos órgãos de registro e representadas nos termos do respectivo contrato ou estatuto social. Os Serviços serão usados exclusivamente pela pessoa do Titular ou, no caso das Contas mantidas por pessoas jurídicas, o uso se limitará à(s) pessoa(s) autorizada(s) a movimentar a Conta em nome do Titular.</p>
  
          <p>Para efetuar o cadastro, você deve preencher certas informações pessoais, como por exemplo: nome completo ou denominação social, data de nascimento ou de constituição, número de inscrição no Cadastro de Pessoa Física (CPF) ou no Cadastro Nacional de Pessoas Jurídicas (CNPJ), endereço residencial ou da sede e número de telefone com DDD, bem como outras informações que podem ser exigidas pela Janus Educare.</p>
  
          <p>Você declara que as Informações Pessoais fornecidas voluntariamente no momento do cadastro são corretas, completas e verdadeiras, e compromete-se a sempre manter as Informações Pessoais atualizadas, responsabilizando-se por qualquer resultado ou prejuízo decorrente da falsidade das suas Informações Pessoais ou da não atualização delas.</p>
  
          <p>A Janus Educare, em hipótese alguma, será responsável pela veracidade das informações pessoais fornecidas pelo titular. Caso detectem o cadastro a partir de informações falsas, incompletas, equivocadas, errôneas, enganosas, ou, que não permitam identificar a identidade do Titular, a Janus Educare poderá:</p>
          <ul>
              <li>(i) solicitar esclarecimentos e documentação adicional que julgarem necessários para a devida comprovação das informações prestadas, para a validação do cadastro, podendo inclusive, recusarem-se a validar qualquer cadastro, a seu exclusivo critério ou</li>
              <li>(ii) automaticamente excluir o seu cadastro, suspender ou cancelar a sua permissão de utilizar os Serviços, caso os esclarecimentos ou informações solicitados não sejam encaminhadas pelo Titular, à respectiva solicitante, no prazo definido pela solicitante.</li>
          </ul>
  
          <p>Todas as Informações Pessoais fornecidas voluntariamente por Você no momento do cadastro estão sujeitas às medidas de segurança que as protejam do acesso, do uso e da divulgação não autorizados. Para saber mais sobre a forma como a Janus Educare coleta, compartilha e processa suas Informações Pessoais, por favor, acesse a Política de Privacidade da Janus Educare no seguinte endereço: <a href="https://www.januseducare.com.br/">www.januseducare.com.br</a>.</p>
      </section>
  
      <section id="pagamento">
          <h3>3. PAGAMENTO, CANCELAMENTOS E CICLOS DE COBRANÇA</h3>
          <h4>Formas de Pagamento</h4>
          <p>Para utilizar o serviço da Janus Educare, você precisa fornecer uma forma de pagamento. A Janus Educare disponibilizará aos usuários, pagamentos pelos serviços através de boletos bancários e depósito em conta corrente.</p>
  
          <h4>Cancelamento</h4>
          <p>Você pode cancelar os serviços da Janus Educare a qualquer momento e você continuará a ter acesso ao serviço contratado da Janus Educare até o fim do período de faturamento, isto é, ao final do ciclo vigente do pagamento. Para cancelar, basta acessar as configurações da sua conta e seguir as instruções. Se você cancelar sua assinatura, sua conta será automaticamente encerrada ao fim do período de cobrança em andamento.</p>
  
          <h4>Alterações de preços e planos de assinatura</h4>
          <p>De tempos em tempos, poderemos alterar nossos planos de assinatura e os preços de nossos serviços. Os valores de assinatura poderão ser revisados periodicamente para melhor adequação ao contínuo aprimoramento dos nossos serviços. Quaisquer alterações de preço ou alterações nos seus planos de assinatura serão aplicadas aos ciclos de faturamento subsequentes ao envio da notificação para você.</p>
      </section>
  
      <section id="politica-de-privacidade">
          <h3>4. POLÍTICA DE DADOS E DE PRIVACIDADE</h3>
          <p>A Janus Educare se preocupa com a sua privacidade, e por isso desenvolveu a Política de Privacidade, documentação que integra este Termo de Uso e contém toda a descrição dos tratamentos de dados pessoais realizados, finalidades, bases legais, direitos dos titulares e canal de comunicação para qualquer requerimento relativo aos dados pessoais e privacidade.</p>
          <p>Confira aqui a <a href="https://www.januseducare.com.br/politica-de-privacidade">Política de Privacidade</a> da Janus Educare para saber detalhes de como tratamos os seus dados pessoais e como garantimos a proteção da sua privacidade.</p>
      </section>
  
      <section id="acesso-a-redes">
          <h3>5. ACESSO A REDES E EQUIPAMENTOS</h3>
          <p>A Janus Educare não assegura que os serviços, ou qualquer parte deles, funcionarão em qualquer equipamento ou dispositivo em particular, ou que, em decorrência de atualizações de sistema dos seus equipamentos ou dispositivos, os serviços continuem a funcionar. Você é responsável por adquirir e atualizar os equipamentos e dispositivos necessários para acessar e usar os serviços e aplicativos e quaisquer de suas atualizações.</p>
  
          <p>A Janus Educare alerta que os serviços poderão estar sujeitos a interferências, mau funcionamento e/ou atrasos inerentes ao uso da internet e de comunicações eletrônicas, e você declara que tem conhecimento destes riscos e condições, bem como que estes fatores poderão alterar de algum modo a eficácia da utilização dos serviços ora descritos.</p>
  
          <p>O acesso à internet para a utilização dos serviços é de sua responsabilidade, assim como o ônus de arcar com eventuais taxas e encargos de sua rede de dados.</p>
      </section>
  
      <section id="invalidade">
          <h3>6. INVALIDADE E INEXEQUIBILIDADE</h3>
          <p>A menos que seja informado de outro modo em disposições particulares ou Termos de Usos complementares, se qualquer disposição do Termo de Uso se tornarem inválidas ou inexequíveis por qualquer motivo ou em qualquer medida, tal invalidade ou exigibilidade não deverá, de maneira nenhuma, afetar ou tornar inválidas ou inexequíveis as disposições restantes do Termo de Uso, e a aplicação daquela disposição deverá ser imposta na medida permitida pela lei.</p>
  
          <p>Qualquer falha da Janus Educare ou de um beneficiário terceiro em impor o Termo de Uso ou qualquer disposição deste não deverá isentar o direito da Janus Educare ou do beneficiário terceiro aplicável de fazê-lo.</p>
      </section>
  
      <section id="propriedade-intelectual">
          <h3>7. PROPRIEDADE INTELECTUAL SOBRE OS PRODUTOS E SERVIÇOS</h3>
          <p>Todos os direitos de propriedade intelectual relativos aos Produtos e Serviços prestados pela Janus Educare, bem como todas as suas funcionalidades, são de titularidade exclusiva da Janus Educare, inclusive no que diz respeito aos seus textos, imagens, layouts, software, códigos, base de dados, gráficos, artigos, fotografias e demais conteúdos produzidos. O conteúdo é protegido pela lei brasileira de direitos autorais e de propriedade industrial. É proibido usar, copiar, reproduzir, modificar, traduzir, publicar, transmitir, distribuir, executar, fazer o upload, exibir, licenciar, vender explorar ou fazer engenharia reversa do Conteúdo, para qualquer finalidade, sem o consentimento prévio e expresso da Janus Educare. Qualquer uso não autorizado do Conteúdo será considerado como violação dos direitos autorais e de propriedade intelectual.</p>
      </section>
  
      <section id="contato">
          <h3>8. COMO ENTRAR EM CONTATO PARA DÚVIDAS E SOLICITAÇÕES</h3>
          <p>Qualquer dúvida ou solicitação deverá ser sempre encaminhada aos Canais de Comunicação. Qualquer outra forma de comunicação com a Janus Educare ou com a Parceira que seja realizada fora dos Canais de Comunicação não será reconhecida.</p>
  
          <p>VOCÊ OBRIGA-SE A INFORMAR IMEDIATAMENTE QUAISQUER MUDANÇAS DE NÚMERO DE TELEFONE, ENDEREÇO E ENDEREÇO DE E-MAIL, A FIM DE QUE POSSA RECEBER REGULARMENTE COMUNICAÇÕES IMPORTANTES DOS CANAIS DE COMUNICAÇÃO.</p>
      </section>
  
      <section id="atualizacoes">
          <h3>9. ATUALIZAÇÕES</h3>
          <p>A Janus Educare realiza eventualmente atualizações nas plataformas utilizadas pelos clientes, por esse motivo, durante a vigência destes Termos de Uso, a Janus Educare poderá atualizar as plataformas com o objetivo de preservar ou aperfeiçoar suas características funcionais. Nesse caso, suspensões temporárias nos Serviços poderão acontecer.</p>
  
          <p>Os Termos de Uso poderão ser alterados, a qualquer tempo, a fim de refletir os ajustes realizados nos Serviços quando necessário e aplicável. Caso Você não concorde com os novos Termos de Uso, poderá rejeitá-los, mas, infelizmente, isso significa que você não poderá mais fazer uso dos nossos serviços. Se de qualquer maneira você utilizar os serviços mesmo após a alteração destes Termos de Uso, isso significa que você concorda com todas as modificações.</p>
      </section>
  
      <section id="legislacao">
          <h3>10. LEGISLAÇÃO, INTERPRETAÇÃO E FORO</h3>
          <p>Este Termo de Uso é regido e interpretado exclusivamente de acordo com as leis do Brasil. Qualquer reclamação, conflito ou controvérsia que surgir deste contrato ou a ele relacionada, inclusive que diga respeito a sua validade, interpretação ou exequibilidade, será solucionada exclusivamente no foro da Comarca de Planaltina – Goiás.</p>
  
          
      </section>
      <section>
        <p><strong>DATA DE ÚLTIMA ATUALIZAÇÃO: 13/05/2022.</strong></p>
      </section>
  
  
      </div>
    </div>
  </section>

 
</Layout>