---
import { baseURL } from "../config"
---

<header class="content-line main-header">
  <div class="content-line-container ">
      <a href=`${baseURL}/`>
        <img src=`${baseURL}/assets/img/janus-logo-horizontal.webp` alt="Janus Educare - Consultoria" class="max-w-40 main-header__logo">
      </a>
      <nav>
        <ul class="flex items-center gap-3">
          <li>
            <a href=`${baseURL}/` class="menu__item">Início</a>
          </li>                    
        </ul>
      </nav>
      <button class="btn-menu">
        <span class="bar bar-top"></span>
        <span class="bar bar-middle"></span>
        <span class="bar bar-bottom"></span>
      </button>      
  </div>
</header>