---
  const { titulo, icone, ...props } = Astro.props;
---

<div class="p-8 rounded-md shadow-xl border border-gray-200 bg-white" {...props} class:list={props.classList}>
  {
    icone && 
    <div class="icon-wrapper">
      <span class="material-symbols-outlined !text-5xl">
        {icone}
      </span>
    </div>
  }
  {titulo && 
    <h3 class="text-primary font-bold text-xl mb-3 flex items-center justify-center mt-4" class:list={icone ? 'gap-3' : ''}>
      {titulo}
    </h3>
  }
  <slot>Placeholder conteúdo</slot>
</div>